.about{
    display: flex;
    padding-top: 14rem;
    padding-bottom: 14rem;
    padding-left: 6rem;
    padding-right: 6rem;
}
.about .left{
    width: 50%;
}
.about .right{
    width: 50%;
}
.about .left h2{
    font-weight: 400;
    font-style: normal;
    color: #4f3f39;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 0px;
}

.about .left p{
    font-weight: 400;
    font-style: normal;
    color: #979592;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0px;
}

.about .left  a {
    font-weight: 400;
    font-style: normal;
    color: #4f3f39;
    background-color: transparent;
    font-size: 16px;
    padding: 17px 15px;
    min-width: 150px;
    margin-right: auto;
    position: relative;
    text-align: center;
    z-index: 1;
    transition: .3s;
    line-height: 22px;
    border-radius: 8px;
    border: 2px solid #e7e7e7;
    display: block;
    width: 14rem;
}

.about .left  a:hover {
    color: #ffffff;
    background-color: #4f3f39;
    border-color: #4f3f39;
}

.about .right img{
    display: block;
    margin-left: auto;
}

@media(max-width: 1024px) {
    .about{
      
    }
    .about .left{
    }
    .about .right{
    }
    .about .left h2{
      
    }
    
    .about .left p{
       padding-right: 2rem;
    }
    
    .about .left  a {
       
    }
    
    .about .left  a:hover {
    }
    
    .about .right img{
    }
}


@media(max-width: 1024px) {
    .about{
        padding-left: 4rem;
        padding-right: 4rem;
        align-items: center;
    }
    .about .left{
        width: 60%;
    }
    .about .right{
        width: 40%;
    }
    .about .left h2{
      
    }
    
    .about .left p{
       padding-right: 2rem;
    }
    
    .about .left  a {
       
    }
    
    .about .left  a:hover {
    }
    
    .about .right img{
    }
}

@media(max-width: 768px) {
    .about{
       flex-direction: column-reverse;
    }
    .about .left{
        width: 100%;
    }
    .about .right{
        width: 100%;
    }
    .about .left h2{
      
    }
    
    .about .left p{
       padding-right: 2rem;
    }
    
    .about .left  a {
       
    }
    
    .about .left  a:hover {
    }
    
    .about .right img{
        margin-left: auto;
        margin-right: auto;
        height: 25rem;
        width: 100%;
        object-fit: cover;
    }
}

@media(max-width: 576px) {
    .about{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .about .left{
    }
    .about .right{
    }
    .about .left h2{
      
    }
    
    .about .left p{
    }
    
    .about .left  a {
       
    }
    
    .about .left  a:hover {
    }
    
    .about .right img{
    }
}