.banner{
    background-image: url(../images/mt-1027-header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 14rem;
    padding-bottom: 14rem;
    background-attachment: fixed;
}

.banner .banner-text{
    width: 58%;
    margin-left: 10rem;
}

.banner .banner-text .banner-p1{
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0px;
}

.banner .banner-text .banner-h1{
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 54px;
    line-height: 1.3;
    letter-spacing: 0px;
    margin: 0;
}
.banner .banner-text .banner-p2{
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0px;
    max-width: 57.6rem;
}

.banner .banner-text  a{
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    background-color: #feb856;
    border-color: #feb856;
    font-size: 15px;
    padding: 17px 15px;
    width: 180px;
    display: block;
    margin-right: auto;
    position: relative;
    text-align: center;
    z-index: 1;
    transition: .3s;
    line-height: 22px;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
}
.banner .banner-text  a:hover{
    color: #feb856;
    background-color: #ffffff;
    border-color: #feb856;
}

@media(max-width: 992px) {
    .banner{
    }
    
    .banner .banner-text{
        width: 60%;
        margin-left: 4rem;
    }
    
    .banner .banner-text .banner-p1{
       
    }
    
    .banner .banner-text .banner-h1{
    }
    .banner .banner-text .banner-p2{
    }
    
    .banner .banner-text  a{
    }
    .banner .banner-text  a:hover{
    }
}

@media(max-width: 768px) {
    .banner{
    }
    
    .banner .banner-text{
        width: 60%;
        margin-left: 4rem;
    }
    
    .banner .banner-text .banner-p1{
       
    }
    
    .banner .banner-text .banner-h1{
        font-size: 3.7rem;
    }
    .banner .banner-text .banner-p2{
    }
    
    .banner .banner-text  a{
    }
    .banner .banner-text  a:hover{
    }
}

@media(max-width: 576px) {
    .banner{
    }
    
    .banner .banner-text{
        width: 100%;
        margin-left: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .banner .banner-text .banner-p1{
       
    }
    
    .banner .banner-text .banner-h1{
        font-size: 3.7rem;
    }
    .banner .banner-text .banner-p2{
    }
    
    .banner .banner-text  a{
    }
    .banner .banner-text  a:hover{
    }
}