@font-face {
  font-family: "SourceHanBold";
  font-style: normal;
  src: url("../fonts/SourceHanSans-Bold.otf");
}
@font-face {
  font-family: "SourceHanMedium";
  font-style: normal;
  src: url("../fonts/SourceHanSans-Medium.otf");
}

@font-face {
  font-family: "SourceHanNormal";
  font-style: normal;
  src: url("../fonts/SourceHanSans-Normal.otf");
}
@font-face {
  font-family: "SourceHanRegular";
  font-style: normal;
  src: url("../fonts/SourceHanSans-Regular.otf");
}
@font-face {
  font-family: "PlayDisplayBold";
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: "PlayDisplayMedium";
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Medium.ttf");
}
@font-face {
  font-family: "PlayDisplayRegular";
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

:root {
  --black: #000000;
  --broom: #ffed19;
  --screamin-green: #62ff62;
  --white: #ffffff;
  --D9A5FF: #D9A5FF;
  --orange: #FF731D;

  --font-size-xs: 12px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 21px;
  --font-size-xl: 35px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 58px;

  --font-family-sans-bold: "SourceHanBold";
  --font-family-sans-medium: "SourceHanMedium";
  --font-family-sans-normal: "SourceHanNormal";
  --font-family-sans-regular: "SourceHanRegular";
  --font-family-play-bold: "PlayDisplayBold";
  --font-family-play-medium: "PlayDisplayMedium";
  --font-family-play-regular: "PlayDisplayRegular";
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
}

/* ------------------------------------------------------------ mobile ------------------------------------------------------------ */
@media (max-width: 1042px) {
  
}
