html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  background-color: var(--white);
  margin: 0;
  font-family: var(--font-family-sans-regular);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.screen a {
  display: contents;
  text-decoration: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

ul::-webkit-scrollbar {
  width: .8rem;
  height: .8rem;
}

ul::-webkit-scrollbar-thumb {
  background-color: #dcdde1 !important;
  border-radius: .8rem;
}
ul::-webkit-scrollbar-thumb:hover {
  background-color: white !important;
}

#top {
  overflow-y: auto !important;
  overflow-x: hidden;
  height: 100vh;
}
.container-center-horizontal {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%; */
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
