/* introduct */
.introduct {
  padding: 0.5rem 0rem;
  font-size: var(--font-size-s);
  color: var(--white);
  /* font-family: var(--font-family-play-regular); */
  background-color: var(--orange);
  margin: 0;
}
.introduct ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.introduct ul li {
  cursor: pointer;
}
/* header */
header .header-wrapper {
  border-bottom: 1px solid var(--orange);
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
header .header-wrapper .logo img {
  object-fit: cover;
  width: 10rem;
  height: 100%;
  cursor: pointer;
  padding: 1rem 0;
}
header .header-wrapper .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100%;
  margin: 0;
}
header .header-wrapper .nav-links li {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

/* stroke */
nav {
  background: transparent;
}

nav ul li a,
nav ul li label {
  font-size: var(--font-size-m);
  /* font-family: var(--font-family-play-medium); */
  display: block;
  text-decoration: none;
  color: var(--black);
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: var(--orange);
}
nav ul li a {
  position: relative;
}
/* nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--orange);
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
} */

nav input {
  display: none;
}

.nav-links .mobile-item,
.nav-links .mobile-item2,
.nav-links .mobile-item3 {
  display: none;
}

.nav-links .drop-menu,
.nav-links .drop-menu-2,
.nav-links .drop-menu-3 {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  z-index: 1;
  position: absolute;
  background: var(--white);
  width: auto;
  line-height: 45px;
  top: 17rem;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links ul li {
  padding: 0 !important;
}

.nav-links ul li a {
  color: #333 !important;
  padding: 0 !important;
  font-size: var(--font-size-s) !important;
}
.nav-links ul li:hover a {
  color: var(--orange) !important;
}
.nav-links li:hover .drop-menu{
  transition: all 0.3s ease;
  top: 14.6rem;
  opacity: 1;
  visibility: visible;
}

.nav-links li:hover a {
  color: var(--orange);
}
.drop-menu li a,
.drop-menu-2 li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  border-radius: 0px;
}

#active,
.menu-btn {
  display: none;
}

.wrapper {
  padding: 3.5rem 0rem;
  max-width: 20rem;
}

#active {
  display: none;
}

.menu-active span {
  opacity: 1 !important;
}

.menu-active a {
  color: var(--broom);
}

.SP {
  display: none;
}

/* footer */

footer {
  background-color: var(--white);
  width: 100%;
}

.footer-wrapper {
  padding: 10rem 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.footer-wrapper .logo-footer img {
  width: 20rem;
}

footer .footer-wrapper .content-footer .company-name h2 {
  /* font-family: var(--font-family-play-bold); */
  font-size: var(--font-size-l);
}

footer .footer-wrapper .content-footer span {
  /* font-family: var(--font-family-play-medium); */
  font-size: var(--font-size-m);
  line-height: 2;
  letter-spacing: 0.1rem;
}

footer p {
  background-color: #f1efeb;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .header-wrapper {
    justify-content: unset !important;
    padding: 0 2rem !important;
    position: relative;
  }

  #showDrop {
    display: none;
  }

  .header-wrapper .logo img {
    width: 8rem !important;
  }
  .active-sub {
    max-height: 50vh !important;
    padding: 2rem 0;
    overflow-y: auto !important;
    height: auto;
  }

  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
    padding: 0;
    background-color: transparent;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .nav-links .drop-menu li {
    border-bottom: unset !important;
  }
  .nav-links .drop-menu li a {
    text-align: left;
    padding-left: 2rem !important;
  }

  /* .nav-links li .SP {
    display: none;
  } */
  nav ul li label {
    height: 5rem;
    display: flex !important;
    align-items: center;
  }

  .header-wrapper .nav-links {
    /* margin-top: 9rem !important;  */
    /* padding: 0 !important; */
  }

  .nav-links li {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }

  .nav-links .mobile-item {
    display: block;
    color: var(--white);
    cursor: pointer;
    width: 100%;
    font-size: var(--font-size-m);
    transition: all 0.3s ease;
    text-align: start;
  }

  .SP {
    display: block;
  }
  .PC {
    display: none;
  }
  .stroke {
    position: fixed;
    top: 11rem;
    z-index: 99;
    right: -100%;
    height: 100%;
    width: 100%;
    background: #060606e8;
    transition: all 0.6s ease-in-out;
    max-width: 100%;
  }
  #active:checked ~ .stroke {
    right: 0;
  }
  .menu-btn {
    display: block;
    position: absolute;
    z-index: 100;
    right: 2rem;
    top: 1.5rem;
    height: 5rem;
    width: 5rem;
    text-align: center;
    line-height: 5rem;
    border-radius: 50%;
    font-size: var(--font-size-l);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 50%;
    border-bottom: 0.2rem solid var(--black);
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu-btn:before {
    transform: translateY(-0.8rem);
  }
  .menu-btn:after {
    transform: translateY(0.8rem);
  }

  .close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background 0.6s;
  }

  /* closing animation */
  #active:checked + .menu-btn span {
    transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: var(--orange);
  }
  #active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: var(--orange);
  }
  /* .header-wrapper:has(> #active:checked) {
    position: fixed;
    background-color: var(--white);
    width: 100%;
    top: 3.1rem;
  } */

  .introduct.active {
    position: fixed;
    width: 100%;
  }

  .stroke .nav-links {
    position: absolute;
    top: 0;
    /* left: 15%; */
    height: unset !important;
    /* transform: translate(-50%, -50%); */
    list-style: none;
    text-align: center;
    align-items: flex-start !important;
    flex-direction: column;
    gap: 0rem !important;
    width: 100%;
    padding: 0 !important;
  }
  .stroke .nav-links li {
    margin: 0;
    height: unset !important;
    border-bottom: 1px solid var(--orange);
    width: 100%;
  }

  .stroke .nav-links label {
    padding: 0 1rem !important;
  }
  .stroke .nav-links li a {
    padding: 0 2rem !important;

    transition: all 0.3s ease;
  }

  input[type="checkbox"] {
    display: none;
  }

  .stroke .nav-links li a {
    padding-inline-start: unset;
    color: var(--white) !important;
    transition:
      opacity 1.2s,
      transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    /* transform: translateX(10rem); */
  }

  .stroke .nav-links li span {
    left: -7rem;
  }
}
