body {
}

/* introduct */
.introduct {
  padding: 0.5rem 5rem;
  font-size: var(--font-size-s);
  color: var(--white);
  font-family: var(--font-family-play-regular);
  background-color: var(--orange);
  margin: 0;
}
.introduct ul {
  margin: 0;
  display: flex;
  gap: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.introduct ul li {
  cursor: pointer;
}
/* header */
header .header-wrapper {
  padding: 1rem 0;
  /* border-bottom: 1px solid var(--orange); */
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-wrapper .logo img {
  object-fit: cover;
  width: 10rem;
  height: 100%;
  cursor: pointer;
}
header .header-wrapper .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

header .header-wrapper .stroke ul li {
  cursor: pointer;
}

/* stroke */
nav {
  background: transparent;
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  font-size: var(--font-size-m);
  font-family: var(--font-family-play-medium);
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--black);
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: var(--orange);
}
nav.stroke ul li a {
  position: relative;
}
/* nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--orange);
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
} */

nav input {
  display: none;
}
#showDrop:checked ~ .drop-menu {
  max-height: 100%;
}

.nav-links .mobile-item {
  display: none;
}

.nav-links .drop-menu {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  z-index: 1;
  position: absolute;
  background: #ff731d90;
  width: auto;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links ul li a {
  color: #333 !important;
  padding: 0 !important;
}
.nav-links ul li:hover a {
  color: var(--white) !important;
}
.nav-links li:hover .drop-menu {
  transition: all 0.3s ease;
  top: 10.5rem;
  opacity: 1;
  visibility: visible;
}

.nav-links li:hover a {
  color: var(--orange);
}
.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  border-radius: 0px;
}
