.modal-contact{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000a3;
    z-index: 2;
    display: none;
}

.modal-contact .modal-content{
    background-image: url(../images/mt-1027-header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 57.6rem;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
    position: relative;
}

.modal-contact .modal-content .p1{
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 0px;
    font-size: 1.8rem;
}

.modal-contact .modal-content .p2{
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 0px;
    font-size: 1.8rem;
}
.form-contact div input, textarea{
    border: 1px solid;
    padding: 17px 20px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
    border-color: #e7e7e7;
    width: 100%;
    border-radius: 2px;
}

.form-contact button{
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    background-color: #feb856;
    border-color: #feb856;
    font-size: 15px;
    padding: 17px 15px;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    z-index: 1;
    transition: .3s;
    line-height: 22px;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
}

.form-contact button:hover{
    color: #feb856;
    background-color: #ffffff;
    border-color: #feb856;
}