.our-galery{
    padding-bottom: 140px;
    padding-top: 140px;
    padding-left: 6rem;
    padding-right: 6rem;
}
.our-galery .our-galery-top{

}

.our-galery .our-galery-top .our-galery-h2{
    font-weight: 400;
    font-style: normal;
    color: #4f3f39;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 0px;
    text-align: center;
}

.our-galery .our-galery-top .our-galery-p{
    font-weight: 400;
    font-style: italic;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}

.our-galery .our-galery-top .our-galery-p span{
    color: #a9a196;
}

.our-galery .our-galery-row{
   display: grid;
   grid-template-columns: auto auto auto;
}

.our-galery .our-galery-row .element{
   padding-left: 1rem;
   padding-right: 1rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.our-galery .our-galery-row .element span{
   
}

.our-galery .our-galery-row .element span img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.our-galery .our-galery-row .element div {
    background-color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.our-galery .our-galery-row .element div .element-text1 {
    font-weight: 400;
    font-style: normal;
    color: #4f3f39;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
}
.our-galery .our-galery-row .element div .element-text1 a {
    color: #4f3f39;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}
.our-galery .our-galery-row .element div .element-text1 a:hover {
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    color: #feb856;
}

.our-galery .our-galery-row .element div .element-text2 {
    font-weight: 400;
    font-style: italic;
    color: #a9a196;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0px;
    text-align: center;

}
.our-galery .our-galery-row .element div  a.read-more {
    font-weight: 400;
    font-style: normal;
    color: #4f3f39;
    background-color: transparent;
    border-color: #e7e7e7;
    font-size: 16px;
    padding: 17px 15px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: .3s;
    line-height: 22px;
    border-radius: 8px;
    border: 2px solid;
    display: block;
    width: 14rem;
}

.our-galery .our-galery-row .element div  a.read-more:hover{
    color: #ffffff;
    background-color: #4f3f39;
    border-color: #4f3f39;
}
@media(max-width: 768px){
    .our-galery{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .our-galery .our-galery-top{
    
    }
    
    .our-galery .our-galery-top .our-galery-h2{
      
    }
    
    .our-galery .our-galery-top .our-galery-p{
        
    }
    
    .our-galery .our-galery-top .our-galery-p span{
    }
    
    .our-galery .our-galery-row{
    }
    
    .our-galery .our-galery-row .element{
    }
    
    .our-galery .our-galery-row .element span{
       
    }
    
    .our-galery .our-galery-row .element span img{
    }
    
    .our-galery .our-galery-row .element div {
      
    }
    .our-galery .our-galery-row .element div .element-text1 {
        
    }
    .our-galery .our-galery-row .element div .element-text1 a {
        
    }
    .our-galery .our-galery-row .element div .element-text1 a:hover {
       
    }
    
    .our-galery .our-galery-row .element div .element-text2 {
    
    }
    .our-galery .our-galery-row .element div  a.read-more {
        
    }
    
    .our-galery .our-galery-row .element div  a.read-more:hover{
    }
}
@media(max-width: 576px){
    .our-galery{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .our-galery .our-galery-top{
    
    }
    
    .our-galery .our-galery-top .our-galery-h2{
      
    }
    
    .our-galery .our-galery-top .our-galery-p{
        
    }
    
    .our-galery .our-galery-top .our-galery-p span{
    }
    
    .our-galery .our-galery-row{
    }
    
    .our-galery .our-galery-row .element{
    }
    
    .our-galery .our-galery-row .element span{
       
    }
    
    .our-galery .our-galery-row .element span img{
    }
    
    .our-galery .our-galery-row .element div {
      
    }
    .our-galery .our-galery-row .element div .element-text1 {
        
    }
    .our-galery .our-galery-row .element div .element-text1 a {
        
    }
    .our-galery .our-galery-row .element div .element-text1 a:hover {
       
    }
    
    .our-galery .our-galery-row .element div .element-text2 {
    
    }
    .our-galery .our-galery-row .element div  a.read-more {
        
    }
    
    .our-galery .our-galery-row .element div  a.read-more:hover{
    }
}