.our-popular{
    background: #f7f6f2;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.our-popular .our-popular-top{

}

.our-popular .our-popular-top .our-popular-h2{
    font-weight: 400;
    font-style: normal;
    color: #4f3f39;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
}

.our-popular .our-popular-top .our-popular-p{
    font-weight: 400;
    font-style: italic;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}

.our-popular .our-popular-top .our-popular-p span{
    color: #a9a196;
}

.our-popular .our-popular-row{
   display: grid;
   grid-template-columns: auto auto auto;
   padding-top: 2.5rem;
   padding-left: 6rem;
   padding-right: 6rem;
   margin-bottom: 2.5rem;
}

.our-popular .our-popular-row .element{
   padding-left: 1rem;
   padding-right: 1rem;
}

.our-popular .our-popular-row .element span{
   
}

.our-popular .our-popular-row .element span img{
    width: 100%;
    height: 25.5rem;
    object-fit: cover;
}

.our-popular .our-popular-row .element div {
    background-color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.our-popular .our-popular-row .element div .element-text1 {
    font-weight: 400;
    font-style: normal;
    color: #4f3f39;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
}
.our-popular .our-popular-row .element div .element-text1 a {
    color: #4f3f39;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}
.our-popular .our-popular-row .element div .element-text1 a:hover {
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    color: #feb856;
}

.our-popular .our-popular-row .element div .element-text2 {
    font-weight: 400;
    font-style: italic;
    color: #a9a196;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0px;
    text-align: center;

}
.our-popular .our-popular-row .element div  a.read-more {
    font-weight: 400;
    font-style: normal;
    color: #4f3f39;
    background-color: transparent;
    border-color: #e7e7e7;
    font-size: 16px;
    padding: 17px 15px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: .3s;
    line-height: 22px;
    border-radius: 8px;
    border: 2px solid;
    display: block;
    width: 14rem;
}

.our-popular .our-popular-row .element div  a.read-more:hover{
    color: #ffffff;
    background-color: #4f3f39;
    border-color: #4f3f39;
}

.our-popular-btn {}
.our-popular-btn  a{
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    background-color: #feb856;
    border-color: #feb856;
    font-size: 15px;
    padding: 17px 15px;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.our-popular-btn  a:hover{
    color: #feb856;
    background-color: #ffffff;
    border-color: #feb856;
}

@media(max-width: 992px){
    .our-popular{
    }
    .our-popular .our-popular-top{
    
    }
    
    .our-popular .our-popular-top .our-popular-h2{
       
    }
    
    .our-popular .our-popular-top .our-popular-p{
       
    }
    
    .our-popular .our-popular-top .our-popular-p span{
        color: #a9a196;
    }
    
    .our-popular .our-popular-row{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    .our-popular .our-popular-row .element{
    }
    
    .our-popular .our-popular-row .element span{
       
    }
    
    .our-popular .our-popular-row .element span img{
        height: 20rem;
    }
    
    .our-popular .our-popular-row .element div {
    }
    .our-popular .our-popular-row .element div .element-text1 {
     
    }
    .our-popular .our-popular-row .element div .element-text1 a {
      
    }
    .our-popular .our-popular-row .element div .element-text1 a:hover {
    }
    
    .our-popular .our-popular-row .element div .element-text2 {
    }
    .our-popular .our-popular-row .element div  a.read-more {
      
    }
    
    .our-popular .our-popular-row .element div  a.read-more:hover{
       
    }
    
    .our-popular-btn {}
    .our-popular-btn  a{
        
    }
    
    .our-popular-btn  a:hover{
       
    }
}

@media(max-width: 576px){
    .our-popular{
    }
    .our-popular .our-popular-top{
    
    }
    
    .our-popular .our-popular-top .our-popular-h2{
        font-size: 2.8rem;
    }
    
    .our-popular .our-popular-top .our-popular-p{
       
    }
    
    .our-popular .our-popular-top .our-popular-p span{
    }
    
    .our-popular .our-popular-row{
        padding-left: 1.5rem;
        padding-right:1.5rem;
        display: block;
    }
    
    .our-popular .our-popular-row .element{
        display: block;
    }
    
    .our-popular .our-popular-row .element span{
       
    }
    
    .our-popular .our-popular-row .element span img{
    }
    
    .our-popular .our-popular-row .element div {
    }
    .our-popular .our-popular-row .element div .element-text1 {
     
    }
    .our-popular .our-popular-row .element div .element-text1 a {
      
    }
    .our-popular .our-popular-row .element div .element-text1 a:hover {
    }
    
    .our-popular .our-popular-row .element div .element-text2 {
    }
    .our-popular .our-popular-row .element div  a.read-more {
      
    }
    
    .our-popular .our-popular-row .element div  a.read-more:hover{
       
    }
    
    .our-popular-btn {}
    .our-popular-btn  a{
        
    }
    
    .our-popular-btn  a:hover{
       
    }
}