.premium{
    background-image: url(../images/mt-1027-content-bg01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 140px;
    background-attachment: fixed;
    padding-top: 140px;
}
.premium .premium-p{
text-align: center;
font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0px;
}

.premium .premium-p span{

}


.premium .premium-h2 {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 0px;
}

.premium .premium-h2 span{
    
}
.premium a{
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    background-color: #feb856;
    border-color: #feb856;
    font-size: 15px;
    padding: 17px 15px;
    width: 220px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
    z-index: 1;
    transition: .3s;
    line-height: 22px;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
}
.premium a:hover{
    color: #feb856;
    background-color: #ffffff;
    border-color: #feb856;
}
.premium a span{

}
@media(max-width: 992px){
    .premium{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .premium .premium-p{
    }
    
    .premium .premium-p span{
    
    }
    
    
    .premium .premium-h2 {
    }
    
    .premium .premium-h2 span{
        
    }
    .premium a{
    }
    .premium a:hover{
    }
    .premium a span{
    
    }
}

@media(max-width: 576px){
    .premium{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .premium .premium-p{
        font-size: 1.6rem;
    }
    
    .premium .premium-p span{
    }
    
    
    .premium .premium-h2 {
        font-size: 3rem;
    }
    
    .premium .premium-h2 span{
        
    }
    .premium a{
    }
    .premium a:hover{
    }
    .premium a span{
    
    }
}