.service{
    background: #f7f6f2;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.service .service-top{

}

.service .service-top .service-h2{
    font-weight: 400;
    font-style: normal;
    color: #4f3f39;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 0px;
    text-align: center;
}

.service .service-top .service-p{
    font-weight: 400;
    font-style: italic;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}

.service .service-top .service-p span{
    color: #a9a196;
}

.service .service-row{
   display: grid;
   grid-template-columns: auto auto auto;
   padding-left: 6rem;
   padding-right: 6rem;
}

.service .service-row .element{
   padding-left: 1rem;
   padding-right: 1rem;
   display: flex;
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.service .service-row .element span{
   
}

.service .service-row .element span img{
    margin-right: 3rem;
}

.service .service-row .element div {
 
}
.service .service-row .element div .element-text1 {
    font-weight: 700;
    font-style: normal;
    color: #4f3f39;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0px;
    margin: 0;
    margin-bottom: 1rem;
    cursor: pointer;
}
.service .service-row .element div .element-text1:hover {
    color: #feb856;
}

.service .service-row .element div .element-text2 {
    font-weight: 700;
    font-style: normal;
    color: #feb856;
    font-size: 1.6rem;
}

@media(max-width: 1024px) {
    .service{
       
    }
    .service .service-top{
    
    }
    
    .service .service-top .service-h2{
     
    }
    
    .service .service-top .service-p{
      
    }
    
    .service .service-top .service-p span{
    }
    
    .service .service-row{
    
    }
    
    .service .service-row .element{
      
    }
    
    .service .service-row .element span{
       
    }
    
    .service .service-row .element span img{
        margin-right: 2rem;
        width: 6rem;
    }
    
    .service .service-row .element div {
     
    }
    .service .service-row .element div .element-text1 {
        font-size: 1.8rem;
    }
    .service .service-row .element div .element-text1:hover {
    }
    
    .service .service-row .element div .element-text2 {
        font-size: 1.4rem;
        display: block;
        text-align: center;
    }
}

@media(max-width: 992px) {
    .service{
       
    }
    .service .service-top{
    
    }
    
    .service .service-top .service-h2{
     
    }
    
    .service .service-top .service-p{
      
    }
    
    .service .service-top .service-p span{
    }
    
    .service .service-row{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    .service .service-row .element{
      
    }
    
    .service .service-row .element span{
       
    }
    
    .service .service-row .element span img{
    }
    
    .service .service-row .element div {
     
    }
    .service .service-row .element div .element-text1 {
        font-size: 1.4rem;
    }
    .service .service-row .element div .element-text1:hover {
    }
    
    .service .service-row .element div .element-text2 {
        font-size: 1.2rem;
    }
}

@media(max-width: 768px) {
    .service{
       
    }
    .service .service-top{
    
    }
    
    .service .service-top .service-h2{
     
    }
    
    .service .service-top .service-p{
      
    }
    
    .service .service-top .service-p span{
    }
    
    .service .service-row{
    }
    
    .service .service-row .element{
      flex-direction: column;
    }
    
    .service .service-row .element span:not(.element-text2){
       text-align: center;
       display: block;
       min-height: 7rem;
    }
    
    .service .service-row .element span img{
        margin-right: 0;
    }
    
    .service .service-row .element div {
     
    }
    .service .service-row .element div .element-text1 {
        font-size: 1.4rem;
        text-align: center;
    }
    .service .service-row .element div .element-text1:hover {
    }
    
    .service .service-row .element div .element-text2 {
        text-align: center;
    }
}

@media(max-width: 576px) {
    .service{
       
    }
    .service .service-top{
    
    }
    
    .service .service-top .service-h2{
     
    }
    
    .service .service-top .service-p{
      
    }
    
    .service .service-top .service-p span{
    }
    
    .service .service-row{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .service .service-row .element{
    }
    
    .service .service-row .element span:not(.element-text2){
    }
    
    .service .service-row .element span img{
    }
    
    .service .service-row .element div {
     
    }
    .service .service-row .element div .element-text1 {
        font-size: 1.2rem;
    }
    .service .service-row .element div .element-text1:hover {
    }
    
    .service .service-row .element div .element-text2 {
    }
}