.statistic{
    padding-top: 14rem;
    padding-bottom: 14rem;
}
.statistic .statistic-top{

}

.statistic .statistic-top .statistic-h2{
    font-weight: 400;
    font-style: normal;
    color: #4f3f39;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
}

.statistic .statistic-top .statistic-p{
    font-weight: 400;
    font-style: italic;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    max-width: 76.8rem;
    margin-left: auto;
    margin-right: auto;
}

.statistic .statistic-top .statistic-p span{
    color: #a9a196;
}

.statistic .statistic-row{
   display: grid;
   grid-template-columns: auto auto auto auto;
}

.statistic .statistic-row .element{
   padding-left: 1rem;
   padding-right: 1rem;
}

.statistic .statistic-row .element span{
   
}

.statistic .statistic-row .element span img{
    width: 100%;
}

.statistic .statistic-row .element div {
    background-color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.statistic .statistic-row .element div .element-text1 {
    color: #feb856;
    font-weight: 400;
    font-style: normal;
    font-size: 54px;
    line-height: 1.3;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
}
.statistic .statistic-row .element div .element-text1 a {
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    color: #feb856;
    font-family: 'Merriweather', serif;
}
.statistic .statistic-row .element div .element-text1 a:hover {
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}

.statistic .statistic-row .element div .element-text2 {
    font-weight: 400;
    font-style: italic;
    color: #4f3f39;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: center;
}
.statistic .statistic-row .element div  a.read-more {
    font-weight: 400;
    font-style: normal;
    color: #4f3f39;
    background-color: transparent;
    border-color: #e7e7e7;
    font-size: 16px;
    padding: 17px 15px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: .3s;
    line-height: 22px;
    border-radius: 8px;
    border: 2px solid;
    display: block;
    width: 14rem;
}

.statistic .statistic-row .element div  a.read-more:hover{
    color: #ffffff;
    background-color: #4f3f39;
    border-color: #4f3f39;
}

@media(max-width: 992px){
    .statistic{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .statistic .statistic-top{
    
    }
    
    .statistic .statistic-top .statistic-h2{
       
    }
    
    .statistic .statistic-top .statistic-p{
       
    }
    
    .statistic .statistic-top .statistic-p span{
    }
    
    .statistic .statistic-row{
    }
    
    .statistic .statistic-row .element{
    }
    
    .statistic .statistic-row .element span{
       
    }
    
    .statistic .statistic-row .element span img{
    }
    
    .statistic .statistic-row .element div {
    }
    .statistic .statistic-row .element div .element-text1 {
    }
    .statistic .statistic-row .element div .element-text1 a {
    }
    .statistic .statistic-row .element div .element-text1 a:hover {
    }
    
    .statistic .statistic-row .element div .element-text2 {
    }
    .statistic .statistic-row .element div  a.read-more {
    }
    
    .statistic .statistic-row .element div  a.read-more:hover{
    }
}

@media(max-width: 576px){
    .statistic{
        padding-left: 1.5rem;
        padding-right: 1.5;
    }
    .statistic .statistic-top{
    
    }
    
    .statistic .statistic-top .statistic-h2{
       
    }
    
    .statistic .statistic-top .statistic-p{
       
    }
    
    .statistic .statistic-top .statistic-p span{
    }
    
    .statistic .statistic-row{
        display: block;
    }
    
    .statistic .statistic-row .element{
    }
    
    .statistic .statistic-row .element span{
       
    }
    
    .statistic .statistic-row .element span img{
    }
    
    .statistic .statistic-row .element div {
    }
    .statistic .statistic-row .element div .element-text1 {
    }
    .statistic .statistic-row .element div .element-text1 a {
    }
    .statistic .statistic-row .element div .element-text1 a:hover {
    }
    
    .statistic .statistic-row .element div .element-text2 {
    }
    .statistic .statistic-row .element div  a.read-more {
    }
    
    .statistic .statistic-row .element div  a.read-more:hover{
    }
}