.testimonials{
    background-image: url(../images/mt-1027-content-bg02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 140px;
    padding-top: 140px;
}

.testimonials .testimonials-top{

}

.testimonials .testimonials-top .testimonials-h2{
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 0px;
    text-align: center;
}

.testimonials .testimonials-top .testimonials-p{
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}

.testimonials .testimonials-top .testimonials-p span{
    color: white;
}
.testimonials .testimonials-text{
    padding-right: 1rem;
    padding-left: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.testimonials .testimonials-text p{
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0px;
}
.testimonials .testimonials-text span{
    color: #e7e7e7;
    font-weight: 400;
    font-style: italic;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0px;
}

@media(max-width: 1024px){
    .testimonials{
      
    }
    
    .testimonials .testimonials-top{
    
    }
    
    .testimonials .testimonials-top .testimonials-h2{
    }
    
    .testimonials .testimonials-top .testimonials-p{
    }
    
    .testimonials .testimonials-top .testimonials-p span{
    }
    .testimonials .testimonials-text{
        width: 80%;
    }
    .testimonials .testimonials-text p{
    }
    .testimonials .testimonials-text span{
        
    }
}

@media(max-width: 992px){
    .testimonials{
      padding-left: 4rem;
      padding-right: 4rem;
    }
    
    .testimonials .testimonials-top{
    
    }
    
    .testimonials .testimonials-top .testimonials-h2{
    }
    
    .testimonials .testimonials-top .testimonials-p{
    }
    
    .testimonials .testimonials-top .testimonials-p span{
    }
    .testimonials .testimonials-text{
        width: 100%;
    }
    .testimonials .testimonials-text p{
    }
    .testimonials .testimonials-text span{
        
    }
}


@media(max-width: 576px){
    .testimonials{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    
    .testimonials .testimonials-top{
    
    }
    
    .testimonials .testimonials-top .testimonials-h2{
    }
    
    .testimonials .testimonials-top .testimonials-p{
    }
    
    .testimonials .testimonials-top .testimonials-p span{
    }
    .testimonials .testimonials-text{
        width: 100%;
    }
    .testimonials .testimonials-text p{
        font-size: 1.8rem;
    }
    .testimonials .testimonials-text span{
        
    }
}